<div class="statuses-container">
 <% @statuses.each do |status| %>
  <div class="element">
      <p><%= status.content %> </p>
 
      <ul class="controll-buttons">
		<% if current_user == status.user%>
	        <li><%= link_to 'Uredi', edit_status_path(status) %></li>
	        <li><%= link_to 'x', status, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	    <% end %>
      </ul>
    </div>

<% end %>
</div>
