<div class="statuses-container">
 <% @statuses.each do |status| %>
  <div class="element">
      <%= status.content %>

      <ul class="blocks-3">
        <li><%= link_to 'Show', status %></li>
        <li><%= link_to 'Edit', edit_status_path(status) %></li>
        <li><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>

<% end %>
</div>