/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$kiddie-font: 'Nunito', sans-serif;

$blue: #00a8e6;
$text-color: #4f4203;
$grey: #d6d6d6;

$menu-hover: #ededc9;


/*===================================
Mixins
====================================*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}


/*===================================
General
====================================*/
body {

	background: url(http://subtlepatterns.com/patterns/skulls.png) repeat;
}

.wrapper {

}

.units-container {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.units-row {
	margin: 0;
}

/*===================================
Header
====================================*/

header {
	background: rgba(255,255,255,.9);
	margin-bottom: 1em;

	.logo {
		h1 {
			text-transform: uppercase;
			font-size: 1.5em;
			margin-top: .5em;

			a {
				text-decoration: none;
				color: grey;
			}
		}
	}
	nav {
		font-family: $kiddie-font;

		&.navbar {
			margin: 0;
		}
		ul {
			li {
				margin: 0 !important;
				a {
					padding: .8em 1em;
					border-left: 1px solid $grey;
					color: $text-color;

					&:hover {
						background-color: $menu-hover;
						text-decoration: none !important;
						color: $text-color !important
					}
				}

				img {
					width: 1.3em;
					margin-right: .2em;
					opacity: .5;
				}
			}
		}
	}
}

.notice {
	h5 {
		background-color: #FFFFFF;
		padding: .7em;
		border: 1px solid #45f75d;
	}
}

.alert {
	h5 {
		background-color: #FFFFFF;
		padding: .7em;
		border: 1px solid #f77171;
	}
}

.login-links {
	background-color: $grey;
	padding: 1em;

	a {
		display: block;
	}
}



.add-button-container {
	text-align: right;
	a {
		font-family: $kiddie-font;
		&.btn {
			display: block;
			padding: 1em;
			font-weight: 600;
		}

		img {
			width: 1.7em;
			margin-right: .5em;
		}
	}
}

.new-status-container {
	.input-form {
		height: 10em;
	}

	.btn {
		margin-top: 1em !important;
	}

	textarea {
		padding: 1em;
		@include border-radius(3px);
		border: 1px solid $grey;
	}
}


.statuses-container {
	.element {
		background-color: rgba(255,255,255,.9);
		margin-bottom: 1em;
		position: relative;
		@include border-radius(3px);

		p {
			margin: 0;
			padding: 1.5em;
			color: $text-color
		}

		ul {
			position: absolute;
			top: .5em;
			right: .5em;
			list-style-type: none;
			li {
				margin: 0;
				margin-left: 1em;
				display: inline-block;

				img {
					width: 1.2em;
					padding: .2em;
				}
			}
		}
	}

	.pagination {

	}
}


.single-status {
	background-color: rgba(255,255,255,.8);
	padding: 1em;
	p {
		margin: 0;
	}
}

.form-container {
	background-color: rgba(255,255,255,.5);
	padding: 2em;
	@include border-radius(3px);

	.form-inner {
		width: 450px;
		max-width: 100%;
		margin: 0 auto;
		background-color: #fff;
		padding: 2em;

		input {
			width: 100%;
			margin-bottom: 1em;
			padding: .7em;
			@include border-radius(3px);
		}
	}
}